:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo a {
  text-decoration: none;
  color: var(--font-body);
}

.hero {
  position: relative;
}

.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}

.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}

.logo--square>div {
  margin-top: -1.7em;
}

/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button,
.signUpBtn {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
  border-radius: 5px;
}
.btn-group p{
  margin:auto
}
.btn-group button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 1px solid var(--dark-grey);
  font-size: var(--small-font);
  cursor: pointer;
  float: left;
}
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
.btn-group button:not(:last-child) {
  border-right: none;
}
/* Add a background color on hover */
.btn-group button:hover {
  background-color: var(--dark-grey);
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}

.search input{
  font-size: var(--small-font);
  line-height: 2;
}
/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.pulse svg {
  animation: pulse 0.25s ease-in-out;
}

.cart svg {
  width: 25px;
}

.cart:hover svg {
  fill: gray;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.5;
    transform: scale(1.25);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.cart sub span {
  position: relative;
  float: right;
  left: -16px;
  top: -4px;
  color: var(--dark-grey);
  background-color: #f0a768cb;
  font-size: 15px;
  padding: 1px 5px;
  border-radius: 200px;
}

.is-empty, .hide {
  display: none;
}

#call-to-register {
  text-align: center;
  font-size: larger;
  background-color: #a4b8c4;
  border-radius: 5px;
}
#call-to-register h3 {
  padding: 20px;
  margin: 5px;
}
/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}

.products {
  padding: 0.5em;
}
.product-categories img{
  width: 180px;
}

.product-list,
.product-categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.product-categories {
  justify-content: space-around;
}

.product-list a,
.product-categories a {
  text-decoration: none;
  color: var(--dark-grey);
  text-align: center;
}

/* Styles for product lists */
.product-card {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 45%;
  justify-content: space-between;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}

.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

#product-image {
  height: 345px;
  margin: 0 0 50px;
}

#product-image img {
  width: 345px;
  margin: auto;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}

/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 700px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}


#product-suggested-retail-price {
  text-decoration: line-through red;
  color: red;
}

#product-final-price {
  color: green;
  font-size: 1.5rem;
}

/* Start cart list card styles */
.cart-card {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
}

.cart-list img {
  max-width: 100px;
}

.cart-card__image {
  grid-area: img;
}

.cart-list {
  margin: 0;
  padding: 0;
}

.card-name {
  grid-area: name;
}

.cart-card__color {
  grid-area: color;
}

.card-name,
.cart-card__color {
  text-decoration: none;
  color: #303030;
  text-align: center;
  font-size: 16px;
}

.card-name h2,
.cart-card__color {
  margin: 2px;
}

.counter {
  user-select: none;
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  gap: 8px;
  grid-area: counter;
}
.counter button {
  display: block;
  width: 36px;
  height: 36px;
  background: var(--light-grey);
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  text-align: center;
  user-select: none;
  margin: 10px 5px;
  padding: 0;
  border-radius: 5px;
  transition: 0.2s;
}

.counter button:hover {
  background: var(--secondary-color);
}

.counter button:last-child{
  background-color: #9C2C13;
}

.checkout-button {
  text-decoration: none;
  background-color: #525b0f;
  padding: 16px 30%;
  min-width: 64px;
  font-size: large;
  color: #fff;
  border-radius: 5px;
}

.checkout-container {
  width: 100%;
  text-align: center;
}

.total {
  display: none;
}

.total.show {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  gap: 10px;
}

section.total p {
  font-weight: bolder;
}

section.total p span {
  font-weight: 400;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }

  .mission {
    font-size: 1.2em;
  }

  .cart-card {
    display: grid;
    grid-template-areas: 
      "img name counter" 
      "img color counter";
    justify-content: space-between;
    margin: 10px;
  }
  .cart-list img {
    max-width: 150px;
  }
  .checkout-container {
    text-align: end;
  }
  .checkout-button {
    padding: 16px 160px;
    min-width: 64px;
    margin: 20px;
  }
}




footer {
  font-size: var(--small-font);
  padding: 1em;
}
form fieldset {
  margin: 2rem 0;
  border: 1px solid #445BA9;
  border-radius: 10px;
  padding: .5rem 2%;
}
form legend {
  color: #445BA9;
  margin: 0 1rem;
  padding: 0 .5rem;
}
form label.top, form div {
  display: block;
  padding-top: 1rem;
  color: #9C2C13;
  font-size: .8rem;
}
form label.top input, form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
}
form label.sbs {
  display: block;
  padding: .75rem 0;
  color: #555;
}
form input.submitBtn {
  border: none;
  background-color: #9C2C13;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
  cursor: pointer;
  transition: 0.1s;
}

form input.submitBtn:active {
  transform: scale(0.95);

}
form label.top input:required {
  border-left: red solid 6px;
}
form label.top input:required:valid {
  border-left: green solid 6px;
}
.div-radio-color {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  align-content: center;
  width: 280px;
}
.radio-color {
  width: auto;
  height: auto;
}
.div-radio-color label {
  align-self: center;
  
}
.swatch {
  border-radius: 10px;
  box-shadow: 1px 1px 5px #303030;
  width: 50px;
  max-height: 50px;
  max-width: 80px;
}

#div-color-radio-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  gap: 20px;
}

table#order-summary {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  overflow: hidden;
}

table#order-summary td,
table#order-summary {
  border-top: 1px solid #ECF0F1;
  padding: 10px;
}

table#order-summary td{
  border-left: 1px solid #ECF0F1;
  border-right: 1px solid #ECF0F1;
}

table#order-summary td:last-child {
    text-align: right;
}
#quick-view{
  font-size: var(--small-font);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#quick-name{
  font-weight: bolder;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  text-align: center;
}
.modal-content img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.breadcrumb-bar {
  display: flex;
  flex-flow: row nowrap;
}

.breadcrumb-bar div {
  background-color: var(--secondary-color);  
  margin: 10px 5px;
  padding: 10px 20px;
  border-radius: 1em;
}

.breadcrumb-bar div a {
  color: #fff;
  
}
/* -----------------Newsletter---------------------- */
#newsletter fieldset {
  max-width: 500px;
  margin: 15px auto;
  background-color: var(--tertiary-color);
  border: #000;
  box-shadow: 0px 0px 15px #000;
}

#newsletter fieldset h2 {
  margin: 5px;

}

#email {
  background-color: white;
}

#newsletter fieldset .top {
  color: #000;
  font-size: 1rem;
  
}

.signUpBtn {
  font-size: 1.5rem;
  margin: 5px auto;
  border-radius: 10px;
}

.signUpBtn:active {
  transform: scale(.98);
}